# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.
#
# If you need help with YAML syntax, here are some quick references for you: 
# https://learn-the-web.algonquindesign.ca/topics/markdown-yaml-cheat-sheet/#yaml
# https://learnxinyminutes.com/docs/yaml/
#
# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.

title: 시인 정명석 - 영감의 시
email: incheon.fim@gmail.com
description: >- # this means to ignore newlines until "baseurl:"
  정명석 시인의 다른 서적 - 영감의 시 1/2, 시로 말한다, 시의 여인, 행복은 온다
baseurl: "/" # the subpath of your site, e.g. /blog
url: "http://sp.hsjl.org" # the base hostname & protocol for your site, e.g. http://example.com
#twitter_username: jekyllrb
#github_username:  jekyll

# Paginate
paginate: 4
paginate_path: 'page:num'
words_per_minute: 200

# Build settings
theme: minima
plugins:
  - jekyll-paginate
  - jekyll-feed
  - jekyll-sitemap

# Exclude from processing.
# The following items will not be processed, by default.
# Any item listed under the `exclude:` key here will be automatically added to
# the internal "default list".
#
defaults:
  -
    scope:
      path: 'naverde15d7a3faf4048dcab80b8834888483.html'
    values:
      sitemap: false

# Excluded items can be processed by explicitly listing the directories or
# their entries' file path in the `include:` list.
#
include: [_pages]

exclude:
  - .sass-cache/
  - .jekyll-cache/
  - gemfiles/
  - Gemfile
  - Gemfile.lock
  - node_modules/
  - vendor/bundle/
  - vendor/cache/
  - vendor/gems/
  - vendor/ruby/
