<!-- Testimonial Section-->
<section id="gtco-testimonial" class="overlay bg-fixed section-padding" style="background-image: url(../assets/img/testi-bg.jpg);">
    <div class="container">
        <div class="section-content">
            <div class="heading-section text-center">
                            <span class="subheading">
                                - 서평 -
                            </span>
                <h2>
                    시인 정명석 - 영감의 시
                </h2>
            </div>
            <div class="row">
                <!-- Testimonial -->
                <div class="testi-content testi-carousel owl-carousel">
                    <div class="testi-item">
                        <i class="testi-icon fa fa-3x fa-quote-left"></i>
                        <p class="testi-text">시인이 삶 속에서 극적으로 경험한 고통과 환희의 세계, 그리고 영혼이 영의 세계를 오가며 목도했던 지옥과 천국의 장면들을 시적으로 형상화하여 ‘변화무쌍한 육신만 중심해서 살면 결국 허무와 사망이요, 영원한 존재인 전능자를 사랑하고 살 때 천국에 이르게 된다.’는 메시지를 전하고 있다.</p>
                        <p class="testi-author"></p>
                        <p class="testi-desc">명(明) <span>출판사</span></p>
                    </div>
                    <div class="testi-item">
                        <i class="testi-icon fa fa-3x fa-quote-left"></i>
                        <p class="testi-text">시는 곧 인생이 함축된 열매와 같아서, 한평생 뼈를 깎고 마음을 깎으며 신과 같이 사랑함으로 영혼을 완성해 온 시인의 모습, 그 무르익은 삶을 고스란히 보여 준다.</p>
                        <p class="testi-author"></p>
                        <p class="testi-desc">명(明) <span>출판사</span></p>
                    </div>
                </div>
                <!-- End of Testimonial -->
            </div>
        </div>
    </div>
</section>
<!-- End of Testimonial Section-->
