{% include calculate_relative_base.html %}
{% include escape-404.html %}

<head>
    <title>정명석 - 영감의 시</title>
    <meta name="title" content="정명석 - 영감의 시">
    <meta name="description" content="정명석 시인의 집필서적 - 영감의시, 시의여인, 시로말한다, 행복은 온다, 시 좋아, 만남">
    <meta name="keywords" content="정명석, JMS, 영감의 시, 시의 여인, 시로 말한다, 시 좋아, 행복은 온다, 만남, 기독교복음선교, CGM">
    <meta name="author" content="정명석">
    <!-- facebook interface -->
    <meta property="og:title" content="정명석 - 영감의 시">
    <meta property="og:description" content="정명석 시인의 집필서적 - 영감의시, 시의여인, 시로말한다, 행복은 온다, 시 좋아, 만남">
    <meta property="og:url" content="http://sp.hsjl.org/">
    <meta property="og:keywords" content="정명석, JMS, 영감의 시, 시의 여인, 시로 말한다, 시 좋아, 행복은 온다, 만남, 기독교복음선교, CGM">
    <meta property="og:site_name" content="정명석 - 영감의 시">
    <meta property="og:author" content="정명석">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--MS의 최신 웹브라우저인 edge 브라우저 호환을 위해 넣어줌-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=euc-kr">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="-1">

    <!-- External CSS -->
    <link rel="stylesheet" href="{{ relativebase }}vendor/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="{{ relativebase }}vendor/select2/select2.min.css">
    <link rel="stylesheet" href="{{ relativebase }}vendor/owlcarousel/owl.carousel.min.css">
    <link rel="stylesheet" href="https://cdn.rawgit.com/noelboss/featherlight/1.7.13/release/featherlight.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/css/tempusdominus-bootstrap-4.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.1/css/brands.css">

    <!-- Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700|Josefin+Sans:300,400,700">
    <link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

    <!-- CSS -->
    <link rel="stylesheet" href="../assets/css/style.min.css">

    <!-- Modernizr JS for IE8 support of HTML5 elements and media queries -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js"></script>

</head>
