<!-- Menu Section -->
<section id="gtco-menu" class="section-padding">
    <div class="container">
        <div class="section-content">
            <div class="row mb-5">
                <div class="col-md-12">
                    <div class="heading-section text-center">
                                    <span class="subheading">
                                        - 영감의 시 -
                                    </span>
                        <h2>
                            영상 보기
                        </h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 menu-wrap">
                    <div class="heading-menu">
                        <h3 class="text-center mb-5">시로 말한다</h3>
                    </div>
                    <div class="menus d-flex align-items-center">
                        <div class="menu-img rounded-circle">
                            <img class="img-fluid" src="../assets/img/hero-1.jpg" alt="">
                        </div>
                        <div class="text-wrap">
                            <div class="row align-items-start">
                                <div class="col-8">
                                    <h4>기도</h4>
                                </div>
                                <div class="col-4">
                                    <h4 class="text-muted menu-price">3:32</h4>
                                </div>
                            </div>
                            <a class="btn btn-icon btn-lg" href="https://www.youtube.com/embed/d0HNwU_izls" data-featherlight="iframe" data-featherlight-iframe-allowfullscreen="true">
                                작성자: yi park - [보기]
                            </a>
                        </div>
                    </div>
                    <div class="menus d-flex align-items-center">
                        <div class="menu-img rounded-circle">
                            <img class="img-fluid" src="../assets/img/hero-1.jpg" alt="">
                        </div>
                        <div class="text-wrap">
                            <div class="row align-items-start">
                                <div class="col-8">
                                    <h4>한 톨</h4>
                                </div>
                                <div class="col-4">
                                    <h4 class="text-muted menu-price">0:52</h4>
                                </div>
                            </div>
                            <a class="btn btn-icon btn-lg" href="https://www.youtube.com/embed/dfjLfrOYavQ" data-featherlight="iframe" data-featherlight-iframe-allowfullscreen="true">
                                작성자: 화목이 - [보기]
                            </a>
                        </div>
                    </div>
                    <div class="menus d-flex align-items-center">
                        <div class="menu-img rounded-circle">
                            <img class="img-fluid" src="../assets/img/hero-1.jpg" alt="">
                        </div>
                        <div class="text-wrap">
                            <div class="row align-items-start">
                                <div class="col-8">
                                    <h4>행복이란</h4>
                                </div>
                                <div class="col-4">
                                    <h4 class="text-muted menu-price">0:35</h4>
                                </div>
                            </div>
                            <a class="btn btn-icon btn-lg" href="https://www.youtube.com/embed/21W_ARs_Yvs" data-featherlight="iframe" data-featherlight-iframe-allowfullscreen="true">
                                작성자: Love Song word - [보기]
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 menu-wrap">
                    <div class="heading-menu">
                        <h3 class="text-center mb-5">시의 여인</h3>
                    </div>
                    <div class="menus d-flex align-items-center">
                        <div class="menu-img rounded-circle">
                            <img class="img-fluid" src="../assets/img/hero-2.jpg" alt="">
                        </div>
                        <div class="text-wrap">
                            <div class="row align-items-start">
                                <div class="col-8">
                                    <h4>행복은 간다 ... </h4>
                                </div>
                                <div class="col-4">
                                    <h4 class="text-muted menu-price">3:37</h4>
                                </div>
                            </div>
                            <a class="btn btn-icon btn-lg" href="https://www.youtube.com/embed/HLlLwldqQbU" data-featherlight="iframe" data-featherlight-iframe-allowfullscreen="true">
                                작성자: 진석 - [보기]
                            </a>
                        </div>
                    </div>
                    <div class="menus d-flex align-items-center">
                        <div class="menu-img rounded-circle">
                            <img class="img-fluid" src="../assets/img/hero-2.jpg" alt="">
                        </div>
                        <div class="text-wrap">
                            <div class="row align-items-start">
                                <div class="col-8">
                                    <h4>밤배</h4>
                                </div>
                                <div class="col-4">
                                    <h4 class="text-muted menu-price">1:43</h4>
                                </div>
                            </div>
                            <a class="btn btn-icon btn-lg" href="https://www.youtube.com/embed/lM29d9HoTCw" data-featherlight="iframe" data-featherlight-iframe-allowfullscreen="true">
                                작성자: 화목이 - [보기]
                            </a>
                        </div>
                    </div>
                    <div class="menus d-flex align-items-center">
                        <div class="menu-img rounded-circle">
                            <img class="img-fluid" src="../assets/img/hero-2.jpg" alt="">
                        </div>
                        <div class="text-wrap">
                            <div class="row align-items-start">
                                <div class="col-8">
                                    <h4>인간 생각</h4>
                                </div>
                                <div class="col-4">
                                    <h4 class="text-muted menu-price">0:58</h4>
                                </div>
                            </div>
                            <a class="btn btn-icon btn-lg" href="https://www.youtube.com/embed/qd5UHw7M4kM" data-featherlight="iframe" data-featherlight-iframe-allowfullscreen="true">
                                작성자: 鄭明析牧師の詩 - [보기]
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 menu-wrap">
                    <div class="heading-menu">
                        <h3 class="text-center mb-5">영감의 시</h3>
                    </div>
                    <div class="menus d-flex align-items-center">
                        <div class="menu-img rounded-circle">
                            <img class="img-fluid" src="../assets/img/hero-3.jpg" alt="">
                        </div>
                        <div class="text-wrap">
                            <div class="row align-items-start">
                                <div class="col-8">
                                    <h4>의인의 삶</h4>
                                </div>
                                <div class="col-4">
                                    <h4 class="text-muted menu-price">1:39</h4>
                                </div>
                            </div>
                            <a class="btn btn-icon btn-lg" href="https://www.youtube.com/embed/ov7JN-8uSrg" data-featherlight="iframe" data-featherlight-iframe-allowfullscreen="true">
                                작성자: 희망 - [보기]
                            </a>
                        </div>
                    </div>
                    <div class="menus d-flex align-items-center">
                        <div class="menu-img rounded-circle">
                            <img class="img-fluid" src="../assets/img/hero-3.jpg" alt="">
                        </div>
                        <div class="text-wrap">
                            <div class="row align-items-start">
                                <div class="col-8">
                                    <h4>감동</h4>
                                </div>
                                <div class="col-4">
                                    <h4 class="text-muted menu-price">1:04</h4>
                                </div>
                            </div>
                            <a class="btn btn-icon btn-lg" href="https://www.youtube.com/embed/TbdjOaurDFU" data-featherlight="iframe" data-featherlight-iframe-allowfullscreen="true">
                                작성자: 미주 - [보기]
                            </a>
                        </div>
                    </div>
                    <div class="menus d-flex align-items-center">
                        <div class="menu-img rounded-circle">
                            <img class="img-fluid" src="../assets/img/hero-3.jpg" alt="">
                        </div>
                        <div class="text-wrap">
                            <div class="row align-items-start">
                                <div class="col-8">
                                    <h4>존재세계</h4>
                                </div>
                                <div class="col-4">
                                    <h4 class="text-muted menu-price">0:36</h4>
                                </div>
                            </div>
                            <a class="btn btn-icon btn-lg" href="https://www.youtube.com/embed/iYap91Ms98Y" data-featherlight="iframe" data-featherlight-iframe-allowfullscreen="true">
                                작성자: Love Song word - [보기]
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End of menu Section -->
