<!-- Welcome Section -->
<div class="hero">
    <div class="container">
        <div class="row d-flex align-items-center">
            <div class="col-lg-6 hero-left">
                <h1 class="display-4 mb-5">정명석 <br>영감의 시</h1>
                <div class="mb-2">
                    <a class="btn btn-primary btn-shadow btn-lg" href=https://www.youtube.com/channel/UC2-DvgvXJsmVLdBAj2Ee9sQ/playlists" role="button">Youtube 채널</a>
                    <a class="btn btn-icon btn-lg" href="https://www.youtube.com/embed/zhX-QlbfT0o" data-featherlight="iframe" data-featherlight-iframe-allowfullscreen="true">
                        <span class="lnr lnr-film-play"></span>
                        시 감상
                    </a>
                </div>

                <ul class="hero-info list-unstyled d-flex text-center mb-0">
                    <li class="border-right">
                        <a href="http://www.cgm.or.kr/">
                            <span class="lnr" style="background: url(http://www.cgm.or.kr/w/images/h1_logo.png) no-repeat center; background-size: 100% 34px; height: 32px"></span>
                            <h5>
                                cgm.or.kr
                            </h5>
                        </a>
                    </li>
                    <li class="border-right">
                        <a href="http://xn--v42bq4j4og.com/">
                            <span class="lnr lnr-link"></span>
                            <h5>
                                정명석.com
                            </h5>
                        </a>
                    </li>
                    <li class="">
                        <a href="http://god21.net/">
                            <span class="lnr" style="background: url(http://img.god21.net/V2/god21/images/common/title_sm.png) no-repeat center; background-size: 100% 32px; height: 32px"></span>
                            <h5>
                                God21.net
                            </h5>
                        </a>
                    </li>
                </ul>

            </div>
            <div class="col-lg-6 hero-right">
                <div class="owl-carousel owl-theme hero-carousel">
                    <div class="item">
                        <img class="img-fluid" src="../assets/img/hero-1.jpg" alt="">
                    </div>
                    <div class="item">
                        <img class="img-fluid" src="../assets/img/hero-2.jpg" alt="">
                    </div>
                    <div class="item">
                        <img class="img-fluid" src="../assets/img/hero-3.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Welcome Section -->
